<div class="container main-container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="" />
        <div class="card-body">
          <h4 class="card-title">HTML5</h4>
          <p class="card-text">Front-end development</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://logospng.org/download/css-3/logo-css-3-2048.png" alt="" />
        <div class="card-body">
          <h4 class="card-title">CSS3</h4>
          <p class="card-text">Front-end development</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://icon-library.com/images/javascript-icon-png/javascript-icon-png-23.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">Javascript</h4>
          <p class="card-text">Front-end development</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
